@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import '~node_modules/ngx-toastr/toastr.css';
@import '~node_modules/leaflet/dist/leaflet.css';

*{
  box-sizing: border-box;
}

html{
  font-size:16px;
}

html,
button{
  font-family: "Poppins", "sans-serif";
}

body{
  margin: 0;
}

a{
  text-decoration: none;
}